---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
// import Posts from '../components/Posts.astro';
import Text from '../components/Text.astro';

// const res=await fetch('http://127.0.0.1:8000/api/snippets')
// const snippets=await res.json()
const allSnippets = await getCollection('blog');
---

<Layout title='Welcome to My Blog'>
  <Header />

  <main class="bg-slate-800 h-screen text-white">
    <!-- hero -->
    <Hero />
    <!-- posts -->
    <section
      class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-6 p-2 md:p-6'
    >
      <!-- <Text title='new work' style='' /> -->
      {
        allSnippets.map((d) => (
          <article >
            <a href={`/blog/${d.slug}/`}>
              <div class='border rounded-lg group cursor-pointer overflow-hidden shadow-sm shadow-gray-600 '>
                <img src='' alt='' />
                <div class='flex justify-between p-2'>
                  <div>
                    <p class='text-lg font-bold'>{d.data.title}</p>
                    <p class='text-xs'>{d.data.excerpt}</p>
                  </div>
                  <img
                    src='/ali.jpg'
                    class='w-10  h-10 rounded-full object-cover'
                    alt=''
                  />
                </div>
              </div>
            </a>
          </article>
        ))
      }
    </section>
  </main>
</Layout>
