---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='jobs page'>
  <Header />
  <section class='max-w-7xl mx-auto py-10 px-10'>
    <!-- small card -->
    <div class='flex items-center flex-wrap gap-3'>
      <div
        class='bg-slate-300/40 flex py-2 items-center space-x-2 justify-center rounded-md'
      >
        <img src='/badge.png' class='w-10' alt='' />
        <p
          class='text-sm font-bold cursor-pointer transition-all duration-300 hover:text-green-500 px-2'
        >
          Minimallst Logo Design
        </p>
      </div>
      <div
        class='bg-slate-300/40 flex py-2 items-center space-x-2 justify-center rounded-md'
      >
        <img src='/badge.png' class='w-10' alt='' />
        <p
          class='text-sm font-bold cursor-pointer transition-all duration-300 hover:text-green-500 px-2'
        >
          Minimallst Logo Design
        </p>
      </div>
      <div
        class='bg-slate-300/40 flex py-2 items-center space-x-2 justify-center rounded-md'
      >
        <img src='/badge.png' class='w-10' alt='' />
        <p
          class='text-sm font-bold cursor-pointer transition-all duration-300 hover:text-green-500 px-2'
        >
          Minimallst Logo Design
        </p>
      </div>
      <div
        class='bg-slate-300/40 flex py-2 items-center space-x-2 justify-center rounded-md'
      >
        <img src='/badge.png' class='w-10' alt='' />
        <p
          class='text-sm font-bold cursor-pointer transition-all duration-300 hover:text-green-500 px-2'
        >
          Minimallst Logo Design
        </p>
      </div>
      <div
        class='bg-slate-300/40 flex py-2 items-center space-x-2 justify-center rounded-md'
      >
        <img src='/badge.png' class='w-10' alt='' />
        <p
          class='text-sm font-bold cursor-pointer transition-all duration-300 hover:text-green-500 px-2'
        >
          Minimallst Logo Design
        </p>
      </div>
      <div
        class='bg-slate-300/40 flex py-2 items-center space-x-2 justify-center rounded-md'
      >
        <img src='/badge.png' class='w-10' alt='' />
        <p
          class='text-sm font-bold cursor-pointer transition-all duration-300 hover:text-green-500 px-2'
        >
          Minimallst Logo Design
        </p>
      </div>
    </div>
    <h2 class='text-4xl font-bold my-4'>Explore Graphics & Design</h2>
    <div class='grid grid-cols-2 gap-5 md:grid-cols-3 lg:grid-cols-4'>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
      <a class=''>
        <!-- image -->
        <img
          src='https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/431c7d880582a199f5b240dde2694206-1626594004536/Logo%20_%20Brand%20Identity_B_2x.png'
          class='w-full object-cover rounded-md hover:opacity-25'
          alt=''
        />

        <div>
          <!-- title -->
          <h2 class='text-gray-800 font-bold text-2xl'>
            Logo & Brand Identity
          </h2>
          <ul class='py-2 flex flex-col space-y-2'>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Logo Design
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Brand Style Guides
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Font & Typography
            </li>
            <li class='hover:bg-slate-200 cursor-pointer px-1 rounded py-2'>
              Business Card & Standard
            </li>
          </ul>
        </div>
      </a>
    </div>
  </section>
</Layout>
