<header
  class='flex items-center justify-between p-2 bg-slate-600 shadow shadow-gray-300'
>
  <!-- left -->
  <div class='flex items-center space-x-5'>
    <a href='/'>
      <img
        src='/logo1.png'
        class='w-16 h-16 object-cover rounded-full'
        alt=''
      />
    </a>

    <!-- <ul class='hidden md:flex items-center space-x-5'>
            <li class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'><a href="/about">About</a></li>
            <li class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'><a href="/blog">Blog</a></li>
            <li class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'><a href="/contact">Contact Us</a></li>
        </ul> -->
  </div>

  <!-- right -->
  <ul class='flex items-center space-x-5 text-green-600'>
    <li
      class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'
    >
      <a href='/blog'>Blog</a>
    </li>
    <li
      class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'
    >
      <a href='/about'>About</a>
    </li>
    <li
      class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'
    >
      <a href='/jobs'>Jobs</a>
    </li>
    <li
      class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'
    >
      <a href='/projects'>Projects</a>
    </li>
    <li
      class='text-xl font-semibold hover:text-gray-500 transition-all duration-300 text-yellow-500'
    >
      <a href='/contact'>Contact Us</a>
    </li>
  </ul>
  <!-- <div class='flex items-center space-x-5 text-green-600'>
        <h3 class='text-white cursor-pointer'>Sing In</h3>
        <h3  class=' border text-yellow-500 px-4 py-1 rounded-full hover:bg-green-700 hover:text-white transition
                duration-300 cursor-pointer'>Get Started</h3>
    </div> -->
</header>
