   <section
      class='max-w-7xl mx-auto mt-2 flex justify-between items-center bg-yellow-400 border-y border-black py-10 lg:py-0 px-10'
    >
      <!-- left -->
      <div class='space-y-4'>
        <h1 class='text-6xl max-w-xl font-serif'>
          <span class='font-bold underline decoration-red-500 decoration-4'
            >Ali Dev</span
          > is a place to write, read, and connect
        </h1>
        <h2>
          It's easy and free to post your thinking on any topic and connect with
          millions of readerds
        </h2>
      </div>

      <!-- right -->
      <img
        class='hidden md:inline-flex object-cover h-32 lg:h-52'
        src='/logo.png'
        alt=''
      />
    </section>