---
 let post
 
---
<article>
    <a href="">
        <div class='border rounded-lg group cursor-pointer overflow-hidden shadow-sm shadow-gray-600 '>
           <img src="/metaverse.jpg" alt="" class='w-full h-60 object-cover group-hover:scale-105 transition-transform duration-200 ease-in-out'>
            <div class='flex justify-between p-2'>
                <div>
                   <p class='text-lg font-bold'>Lorem ipsum dolor sit amet consectetur.</p>
                  <p class='text-xs'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, obcaecati dolore quas, ipsum explicabo soluta in neque autem ut dignissimos hic id voluptas magnam laboriosam, eaque suscipit ratione illum quia?</p>
                </div>
                <img src="/avatar.png" class='w-10  h-10 rounded-full object-cover' alt="">
            </div>
        </div>
    </a>
</article>